<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta character set k-->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Espinola's Remodeling</title>		
		<!-- Meta Description -->
        <meta name="description" content="Espinola's Remodeling website">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
        <meta name="author" content="Emmanuel Espinola Olvera">
		
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- CSS
		================================================== -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="static/css/jquery.fancybox.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="static/css/owl.carousel.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="static/css/slit-slider.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="static/css/animate.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="static/css/main.css">

		<!-- Modernizer Script for old Browsers -->
        <script src="static/css/modernizr-2.6.2.min.js"></script>

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div>
		</div>
		<!-- end preloader -->

        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body">Espinola's Remodeling</a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="#body">Home</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#portfolio">Gallery</a></li>
                        <!--<li><a href="#price">#####</a></li> -->
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#feedback">Feedback</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
		
		<main class="site-content" role="main">
		
        <!-- Home Slider
        ==================================== -->
		
		<section id="home-slider"> 
            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">
				
					     <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">

						     <div class="bg-img bg-img-1"></div>

						<div class="slide-caption">
                            <div class="caption-content">
                                <h2 class="animated fadeInDown">Espinola's Remodeling </h2>
                                <!--<span class="animated fadeInDown">Free Estimates!</span>-->
                                <a href="#contact" class="btn btn-blue btn-effect">Request an Estimate</a>
                            </div>
                        </div>
						
					</div>
								</div>
	<!-- /slider-wrapper -->
		</section>
		
        <!--
        End Home SliderEnd
        ==================================== -->
			
			<!-- about section -->
			
			<section id="about" >
				<div class="container">
					<div class="row">
						
						<div class="col-md-10 col-md-offset-1 wow animated fadeInRight">
							<div class="welcome-block">
								<div class="message-body">
									<h1> We offer our service in San Marcos Texas and surrounding areas.</h1>								
						     	
														       	
						     	 </div>
						      		    </div>
						</div>
					
					</div>
				</div>
			</section>
			<!-- end about section -->
			
			
			<!-- Service section -->
			<section id="services">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center">
							<h2 class="wow animated bounceInLeft">Services</h2>
							<p class="wow animated bounceInRight"></p>
						</div>
						
						<div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-paint-brush fa-3x" aria-hidden="true"></i>
									
								</div>
								<h3>Paint</h3>
								<ul style="list-style-type:none">
									<li>Residential Interior & Exterior Painting.</i>
									<li>Commercial Interior & Exterior Painting.</i>
									<li>Power Washing.</i>
			 						<li>Stain.</i>
									</ul>
								</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-home fa-3x" aria-hidden="true"></i>
								</div>
								<h3>Drywall</h3>
								<ul style="list-style-type:none">
								<li>Tape & Float.</i>
								<li>Texture.</i>
								</ul>
								</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-th-large fa-3x" aria-hidden="true"></i>
								</div>
								<h3>Flooring and walls Tile works</h3>
								<ul style="list-style-type:none">
								<li>Backsplashes</li>
								<li>Tile Installation</li>
								<li>Laminate flooring as well</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end Service section -->
			
			<!-- portfolio section -->
			
			<section id="portfolio">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>FEATURED PROJECTS</h2>
							<p>Recent Works</p>
						</div>
						
                                        <!--Pic1-->
						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">
								<img src="static/img/portfolio/item2.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" href="static/img/portfolio/item2.jpg" data-fancybox-group="works" ><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="static/img/portfolio/item3.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item3.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="static/img/portfolio/item4.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item4.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="static/img/portfolio/item5.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item5.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="static/img/portfolio/item6.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item6.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item7.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item7.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item8.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item8.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item9.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item9.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item10.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item10.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item11.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item11.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item5.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item12.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item12.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item13.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item13.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item14.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item14.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item15.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item15.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item5.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item5.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!-------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item16.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item16.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item17.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item17.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item18.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item18.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item19.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item19.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item20.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item20.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item21.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item21.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							<!--------------------------->
							<li class="portfolio-item">
								<img src="static/img/portfolio/item22.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="" data-fancybox-group="works" href="img/portfolio/item22.jpg"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							<!--------------------------->
							
						</ul>
						
					</div>
				</div>
			</section>
			<!-- end portfolio section -->
		

			
			<!-- Contact section -->
			<section id="contact" >
				<div class="container">
					<div class="row">
						
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Contact us</h2>
							<p>Call or fill the form below for a free estimate!.</p>
						</div>
						
						
						<div class="col-md-7 contact-form wow animated fadeInLeft">
							<form action="mailService.php" method="post">	<!--original form action=mailService.php rempaclaced for temp form action -->
								<div class="input-field">
									<input type="text" name="name" class="form-control" placeholder="Your Name...">
								</div>
								<div class="input-field">
									<input type="email" name="email" class="form-control" placeholder="Your Email...">
								</div>
								<div class="input-field">
									<input type="tel" name="tel" class="form-control" placeholder="Phone number...">
								</div>
								<div class="input-field">
									<textarea name="message" class="form-control" placeholder="Messages..."></textarea>
								</div>
						       	<button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
							</form>
						</div>
						
						<div class="col-md-5 wow animated fadeInRight">
							<address class="contact-details">
								<h3>Contact Us</h3>						
								<p><i class="fa fa-pencil"></i>Espinola's Remodeling<span></span> <span>4973 Crossover Rd </span><span>San Marcos, Texas</span></p><br>
								<p><i class="fa fa-phone"></i>Phone: (512) 621-3438 </p>
								<p><i class="fa fa-envelope"></i>mail@espinolasremodeling.com</p>
							</address>
						</div>
			
					</div>
				</div>
			</section>
			<!-- end Contact section -->		 

		
			
			<!-- google map -->
			<section id="google-map">
			    <iframe width="400" height="450" frameborder="340" style="border:300" src="https://www.google.com/maps/embed/v1/view?zoom=11&center=29.8833%2C-97.9414&key=AIzaSyCaaQrhlSO-J-fj2bDoE_hitoOMWJWpwd4" allowfullscreen></iframe>
            </section>
			<!-- key: AIzaSyCaaQrhlSO-J-fj2bDoE_hitoOMWJWpwd4-->
			<!-- end google map-->
				<!-- Social section -->
			<section id="social" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">
						<img src="static/img/slider/ABQHomeShow_Banners2.png" class="img-responsive" alt="Payment methods">
						<!--
							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>Follow us</h2>
								<p>Beautifully simple follow buttons to help you get followers on</p>
							</div>
							
							<ul class="social-button">
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>							
							</ul>
							-->
							
						</div>
					</div>
				</div>
			</section>
			<!-- end Social section -->

		 <section id="comments" >
			<div class="container">
				<div class="row">
					<div class="sec-title text-center wow animated fadeInDown">
							<h2> Customer Feedback</h2>
	    					<p>We are committed to providing our customers with a fantastic experience, and your feedback helps us make that possible.</p>
						         </div>
						
		        	                <div class="col-md-7 contact-form wow animated fadeInLeft">
				                        <form action="post_comments.php" method="post">
					                	<div class="input-field">
                                          	<input type="text" name="name" class="form-control" placeholder="Name...">
				                     </div>
						          <div class="input-field">
                                    <textarea name="comment" class="form-control" placeholder="Feedback..."></textarea>
			                    </div>
						      <button type="submit" id="submit" class="btn btn-blue btn-effect">Submit</button>
						        </form>
				    	</div>
					</div>
				</div>
			</section>


			
            <section id="feedback">
		        <div class = "container">
		            <div class= "row"
		                <div class="sec-title text-center wow animated fadeInDown">
		                  <div class="panel panel-default">
		                      <div class = "panel-heading">
		                          <h2 class = "panel-title">Feedback</h2>
		                           </div>
		                             <div class= "panel-body">
		                       
		   </div>
		                  </div>
				
                    </div>
		         </div>
		    </section>
		
			
			 <!--end comment box-->
			
		
	
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						<div class="wow animated fadeInDown">
							<p>Doing the best for Texas</p>
							
						</div>
						
						<!--
						<div class="footer-social">
							<ul>
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
							</ul>
						</div>
						-->
						<p>Copyright &copy; 2016-2018 Template By<a href="http://www.themefisher.com">Themefisher</a> </p>
					</div>
				</div>
			</div>
		</footer>
		
		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="static/js/jquery-1.11.1.min.js"></script>
		<!-- Twitter Bootstrap -->
        <script src="static/js/bootstrap.min.js"></script>
		<!-- Single Page Nav -->
        <script src="static/js/jquery.singlePageNav.min.js"></script>
		<!-- jquery.fancybox.pack -->
        <script src="static/js/jquery.fancybox.pack.js"></script>
		<!-- Google Map API -->
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Owl Carousel -->
        <script src="static/js/owl.carousel.min.js"></script>
        <!-- jquery easing -->
        <script src="static/js/jquery.easing.min.js"></script>
        <!-- Fullscreen slider -->
        <script src="static/js/jquery.slitslider.js"></script>
        <script src="static/js/jquery.ba-cond.min.js"></script>
		<!-- onscroll animation -->
        <script src="static/js/wow.min.js"></script>
		<!-- Custom Functions -->
        <script src="static/js/main.js"></script>
    </body>
</html>
